body {
  background-color: #FFF2CC;
  font-family: sans-serif;
}

/*
Sets up the main dual split for all pages
 */
.main-split-grid {
  display: grid;
  grid-template-columns: 30% 62%;
  grid-gap: 3%;
  height: 100%;
  margin: 1em;
}

/*
Puts spacing between stacked buttons
 */
.button-column > div {
  margin-bottom: 1rem;
}

/*
Commonly used buttons throughout the application
 */
.nav-button {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0.75em 0;
  background-color: #FFAB40;
  border: 1px solid black;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

  .nav-button:hover {
    background-color: #FFFFFF;
  }

/*
Disables hover effect when applied to a .nav-button
*/
.no-hover:hover {
  background-color: #FFAB40;
  cursor: auto;
}

.tigermaps-logo {
  width: 100%;
}

/*
Scales the map
 */
.campus-map {
  width: 100%;
  height: 70%;
}

/*
Styles the textinput used throughout the application
 */
.text-input {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em 0 0.5em 0.3em;
  border: 1px solid gray;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.2s;
}

.text-input:hover {
  border: 1px #FFAB40 solid;
}

/*
Puts spacing between alerts on alerts page
 */
.alert-button {
  margin-bottom: 0.5em;
}

/*
Makes infopanes large
 */
.big-infopane {
  padding: 7em 0;
}

/*
Overall layout for schedule
 */
.schedule-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  border: 2px solid black;
}

/*
Puts a border between cells in the schedule
 */
.schedule-grid > div {
  border: 1px black solid
}

/*
Makes the orange cells orange in the schedule
 */
.schedule-grid > div:nth-child(even) {
  background-color: #FFAB40;
}

/*
Sets up height and color of grey cells in the schedule
 */
.schedule-grid > div:nth-child(odd) {
  background-color: #B7B7B7;
  padding: 1.25em 0.5em;
}

/*
Splits two elements side by side with space between
 */
.split-grid-50 {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
}

/*
Sizes contact info pane
 */
#contact-info-text {
  padding: 3em 0;
}

/*
Sizes alerts
 */
#add-alert-button {
  padding: 1em 0;
}

/*
Size add alert button on homepage
 */
#add-alert-homepage {
  padding: 0.5em 0;
  margin-top: 0.1em;
}