body {
  background-color: #FFF2CC;
  font-family: sans-serif;
}

.main-split-grid {
  display: grid;
  grid-template-columns: 30% 62%;
  grid-gap: 3%;
  height: 100%;
  margin: 1em;
}

.button-column > div {
  margin-bottom: 1rem;
}

.nav-button {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0.75em 0;
  background-color: #FFAB40;
  border: 1px solid black;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

  .nav-button:hover {
    background-color: #FFFFFF;
  }

.no-hover:hover {
  background-color: #FFAB40;
  cursor: auto;
}

.tigermaps-logo {
  width: 100%;
}

.campus-map {
  width: 100%;
  height: 70%;
}

.text-input {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em 0 0.5em 0.3em;
  border: 1px solid gray;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.2s;
}

.text-input:hover {
  border: 1px #FFAB40 solid;
}

.alert-button {
  margin-bottom: 0.5em;
}

.big-infopane {
  padding: 7em 0;
}

.schedule-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  border: 2px solid black;
}

.schedule-grid > div {
  border: 1px black solid
}

.schedule-grid > div:nth-child(even) {
  background-color: #FFAB40;
}

.schedule-grid > div:nth-child(odd) {
  background-color: #B7B7B7;
  padding: 1.25em 0.5em;
}

.split-grid-50 {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
}

#contact-info-text {
  padding: 3em 0;
}

#add-alert-button {
  padding: 1em 0;
}

#add-alert-homepage {
  padding: 0.5em 0;
  margin-top: 0.1em;
}